body,html {
  height: 100%;
}
.masthead {
	height: 100vh;
  min-height: 500px;
  background-image: url(/starry-splash.jpg);
	background-size: cover;
	background-position: bottom-left;
	background-repeat: no-repeat;
}